<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.WindowsEventLog"/>
	</extensions>

	<targets>
		<target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="HPPay_WebApi"/>
		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-webapi.log"/>
		<!--<target name="database" type="Database" connectionString="server=DTPDB,14332;database=Dtplusnew;uid=dtplus_temp_dbuser;password=DtpLuS@2o22;MultipleActiveResultSets=True;">-->
		<!--<target name="database" type="Database" connectionString="server=10.0.21.223,21443;database=Hppay;uid=Dtplusnew;password=Ht5M@!LeT2o22Y;MultipleActiveResultSets=True;">-->
			<target name="database" type="Database" connectionString="server=10.0.21.223,21443;database=Hppay;uid=hpcldb;password=Ht5M@!LeT2o22Y;MultipleActiveResultSets=True;">
			<!--<target name="database" type="Database" connectionString="server=10.40.40.27\\DTPMSSQL,14332;database=Dtplusnew;uid=dtplus_temp_dbuser;password=DtpLuS@2o22;MultipleActiveResultSets=True;">-->
			<!--<target name="database" type="Database" connectionString="server=103.125.201.223,21443;database=Dtplusnew;uid=HPPaydb;password=Ht5M@!LeT2o22Y;MultipleActiveResultSets=True;">-->
			<!--<target name="database" type="Database" connectionString="server=10.0.21.223,21443;database=Dtplusnew;uid=HPPaydb;password=Ht5M@!LeT2o22Y;">-->
			<commandText> insert into mstAPILog ([TimeStamp],[Level],Logger, [Message], error_message_value, StackTrace,MethodName,UserAgent,Userip,UserId,ReferenceNo) values (@TimeStamp, @Level, @Logger, @Message, @Exception, @StackTrace,@MethodName,@UserAgent,@Userip,@UserId,@ReferenceNo); </commandText>
			<parameter name="@TimeStamp" layout="${date}"/>
			<parameter name="@Level" layout="${level}"/>
			<parameter name="@Logger" layout="${logger}"/>
			<parameter name="@Message" layout="${message}"/>
			<!--<parameter name="@UserId" layout="${mdc:user_id}" />-->
			<parameter name="@Exception" layout="${exception}"/>
			<parameter name="@StackTrace" layout="${stacktrace}"/>
			<parameter name="@MethodName" layout="${mdlc:methodName}"/>
			<parameter name="@Useragent" layout="${mdlc:Useragent}" />
			<parameter name="@Userip" layout="${mdlc:Userip}" />
			<parameter name="@UserId" layout="${mdlc:Userid}" />
			<parameter name="@ReferenceNo" layout="${mdlc:ReferenceNo}" />
			<dbProvider>System.Data.SqlClient</dbProvider>
		</target>
		<!-- <target name="database" xsi:type="Database"
            dbProvider="sqlserver"
            dbHost="${configsetting:name=NlogConnection.DbHost}"
            dbDatabase="${configsetting:name=NlogConnection.Database}"
            dbUserName="${configsetting:name=NlogConnection.User}"
            dbPassword="${configsetting:name=NlogConnection.Password}">
      
      <commandText>
        insert into dbo.Log (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>
      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
	-->
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="database"/>
		<!--<logger name="*" minlevel="Debug" writeTo="logfile"/>
		<logger name="*" minlevel="Debug" writeTo="eventlog"/>-->
	</rules>
</nlog>

<!--Create DB

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Application] [nvarchar](50) NOT NULL,
	[Logged] [datetime] NOT NULL,
	[Level] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Logger] [nvarchar](250) NULL,
	[Callsite] [nvarchar](max) NULL,
	[Exception] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
-->